<div class="w-full">
  <section id="sliderSection" class="relative">
    <div class="relative h-screen bg-cover bg-center"  style="background-image: url('assets/construction.jpg')">
      <!-- Overlay for contrast -->
      <div class="absolute inset-0 bg-black bg-opacity-20"></div>

      <!-- Slogan text -->
      <div class="relative flex flex-col justify-center items-center h-full text-center text-white px-4">
        <h1 class="text-4xl md:text-6xl font-bold leading-tight">
          Creating Structures, With Thoughtful Designs
        </h1>
        <p class="mt-4 text-lg md:text-2xl font-medium">
          Where Architecture Meets Perfection!
        </p>
      </div>
    </div>
  </section>
  <section id="whoweare" class="flex flex-col justify-center lg:flex-row p-6 lg:p-5 gap-6 lg:gap-10 items-center">
    <div class="flex flex-col gap-4 w-full lg:w-3/4 text-center lg:text-left sm:p-2">
      <div class="flex items-center justify-center lg:justify-start gap-2">
        <div class="w-8 h-0.5 bg-lightOrange"></div>
        <span class="text-lightOrange font-bold tracking-wide uppercase" >Who We Are</span>
      </div>
      <h2 class="text-2xl lg:text-3xl font-bold text-[#1a1a2e]">
        We Are The Pioneers In The<br />Architectura!
      </h2>
      <p class="text-lg text-gray-600 font-semibold">
        13 Years Experience Working
      </p>
      <p class="text-gray-500 text-justify sm:text-justify">
        Welcome to <b>Vyomn Projeccts</b>, a dynamic startup with 13 years of
        expertise in the construction and interior design industry. Over the
        years, we've established ourselves as a reliable partner for
        transforming residential homes, commercial spaces, warehouses, and
        handling intricate renovation and interior design projects. Founded with
        a passion for building quality spaces, We brings together a diverse team
        of experienced architects, engineers, and designers who are dedicated to
        creating environments that blend functionality, aesthetics, and
        sustainability. We understand that every space is unique, and we take
        pride in delivering personalized solutions tailored to our clients'
        specific needs. Our services range from constructing dream homes and
        commercial spaces to offering expert renovations and interior designs
        that breathe new life into existing structures. Whether it's a
        contemporary home, a functional office layout, or a well-planned
        warehouse, we focus on delivering high-quality, cost-effective solutions
        that align with your vision and requirements. <br />
        <br />At <b>Vyomn Projeccts</b>, we believe in clear communication,
        attention to detail, and timely delivery. From the initial consultation
        to project completion, our team ensures a seamless process, keeping you
        informed every step of the way. Our commitment to quality craftsmanship
        and customer satisfaction is what sets us apart. <br /><br />Trust
        <b>Vyomn Projeccts</b> to bring your vision to life with precision,
        creativity, and a commitment to excellence. Whether it’s designing your
        dream home or upgrading your business space, we turn your ideas into
        reality.
      </p>
    </div>
    <div class="hidden lg:flex justify-around w-1/2"> <img src="assets/whoweare.jpg" alt="Who We Are"class="rounded-lg max-w-full h-auto"/>
    </div>
  </section>

  <section  id="whatwedo"class="flex flex-col justify-start p-6 md:p-10 gap-5 bg-gray-50">
    <div class="flex flex-col lg:flex-row gap-10">
      <!-- Left Content -->
      <div class="w-full lg:w-1/2 flex flex-col justify-start text-center lg:text-left">
        <div class="header">
          <div class="flex items-center justify-center lg:justify-start">
            <div class="w-8 h-0.5 bg-lightOrange mr-2"></div>
            <span class="text-lightOrange font-bold tracking-wide uppercase">What We Do</span >
          </div>
          <h2 class="text-2xl md:text-3xl font-bold text-[#1a1a2e]">
            Our Specialization
          </h2>
        </div>
        <p class="leading-6 text-gray-600 mt-5 text-justify md:text-center lg:text-left">
          At <b>Vyomn Projects</b>, we take pride in our diverse expertise and
          specialization in a wide range of construction and interior design
          services. With over 13 years of experience, we have honed our skills to
          deliver exceptional results that align with the unique needs of our
          clients. We are dedicated to delivering high-quality, innovative
          solutions that meet your specific needs. With a focus on excellence,
          customer satisfaction, and sustainable practices, we strive to create
          spaces that inspire and elevate everyday living.
        </p>
      </div>

      <!-- Right Content -->
      <div class="flex flex-col md:flex-row gap-6 lg:gap-10 lg:w-1/2">
        <!-- Consulting -->
        <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform w-full">
          <img src="assets/icons/consulting.png" alt="Consulting" class="w-14 h-14 mb-4"/>
          <h3 class="font-bold text-lg text-gray-800">Consulting</h3>
          <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
            We offer comprehensive project management services to ensure your
            project is delivered on time, within budget, and to the highest
            standards. Our experienced team oversees every phase of the project,
            from planning and design to construction and handover, ensuring a
            smooth and hassle-free experience for our clients.
          </p>
        </div>
        <!-- Renovation -->
        <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform w-full">
          <img src="assets/icons/renovation.png"alt="Renovation" class="w-14 h-14 mb-4" />
          <h3 class="font-bold text-lg text-gray-800">Renovation</h3>
          <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
            Transforming existing structures into modern, functional spaces is
            one of our key strengths. Whether it's a home renovation or
            commercial space redesign, we breathe new life into outdated spaces
            while preserving their character. Our renovation services include
            everything from structural upgrades to aesthetic improvements,
            always with the goal of maximizing the potential of the space.
          </p>
        </div>
      </div>
    </div>

    <!-- Below content -->
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Residential -->
      <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform">
        <img src="assets/icons/residential.png"alt="Residential"class="w-14 h-14 mb-4" />
        <h3 class="font-bold text-lg text-gray-800">Residential</h3>
        <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
          We specialize in building dream homes that reflect your style and
          cater to your lifestyle needs. From cozy single-family homes to
          luxurious villas, we bring your vision to life with precision,
          quality, and attention to detail, ensuring every element is crafted to
          perfection.
        </p>
      </div>

      <!-- Commercial -->
      <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform">
        <img src="assets/icons/commercial.png"alt="Commercial"class="w-14 h-14 mb-4"/>
        <h3 class="font-bold text-lg text-gray-800">Commercial</h3>
        <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
          Creating efficient and inspiring commercial spaces is our forte.
          Whether it's an office, retail space, or hospitality venue, we design
          and build functional and aesthetically appealing environments that
          foster productivity and business growth. Our approach focuses on
          maximizing space, enhancing functionality, and delivering a seamless
          user experience.
        </p>
      </div>

      <!-- Warehouses -->
      <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform">
        <img src="assets/icons/warehouse.png"alt="Warehouses"class="w-14 h-14 mb-4"/>
        <h3 class="font-bold text-lg text-gray-800">Warehouses</h3>
        <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
          At Vyomn Projects, we understand the importance of well-structured
          warehouses for operational efficiency. We specialize in designing and
          constructing warehouses that are both practical and durable, ensuring
          optimized storage space, easy accessibility, and smooth logistics
          operations.
        </p>
      </div>

      <!-- Interior -->
      <div class="flex flex-col items-start p-6 bg-white shadow-lg rounded-lg hover:scale-105 hover:shadow-xl transition-transform">
        <img src="assets/icons/interior.png" alt="Interior"class="w-14 h-14 mb-4"/>
        <h3 class="font-bold text-lg text-gray-800">Interior</h3>
        <p class="text-gray-600 text-sm text-justify mt-2 mb-4">
          Our interior design services are all about creating spaces that feel
          personal, welcoming, and functional. Whether you need to redesign a
          single room or an entire property, our team offers customized interior
          solutions that combine style, comfort, and practicality. From concept
          to execution, we ensure every detail is thoughtfully designed to suit
          your taste and needs.
        </p>
      </div>
    </div>
  </section>

  <section id="projects" class="flex flex-col justify-start p-10 gap-5">
    <!-- Header Section -->
    <div class="flex flex-col md:flex-row justify-between md:items-center">
      <div class="flex flex-col w-full md:w-1/2 text-center md:text-left">
        <div class="flex flex-row gap-2 items-center justify-center md:justify-start">
          <div class="w-8 h-0.5 bg-lightOrange"></div>
          <span class="text-lightOrange font-bold uppercase tracking-wide">Our Best Work</span>
        </div>
        <h2 class="text-xl md:text-2xl font-bold text-[#1a1a2e]">
          Excellence In Every Project
        </h2>
      </div>
      <div class="flex flex-row flex-wrap justify-center md:justify-start">
        <ul class="flex flex-wrap justify-center md:justify-start space-x-4 md:space-x-4 text-gray-600 font-medium">
          <li class="menu-item cursor-pointer" [class.active]="selectedMenu === 'all'" (click)="selectMenu('all')" >
            All
          </li>
          <li class="menu-item cursor-pointer"[class.active]="selectedMenu === 'Residential'" (click)="selectMenu('Residential')">
            Residential
          </li>
          <li class="menu-item cursor-pointer"[class.active]="selectedMenu === 'Commercial'" (click)="selectMenu('Commercial')">
            Commercial
          </li>
          <li class="menu-item cursor-pointer" [class.active]="selectedMenu === 'Warehouse'"(click)="selectMenu('Warehouse')">
            Warehouse
          </li>
          <li class="menu-item cursor-pointer"[class.active]="selectedMenu === 'Renovation'"(click)="selectMenu('Renovation')">
            Renovation
          </li>
        </ul>
      </div>
    </div>

    <!-- Projects Section -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="relative group">
        <img src="assets/projects/project1.jpg" alt="Triangle Concrete House" class="w-full object-cover rounded-lg"/>
        <div class="absolute inset-0 bg-black text-white bg-opacity-50 rounded-lg flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition" >
          <h3 class="text-lg text-white font-semibold">
            Triangle Concrete House On Lake
          </h3>
          <a href="#"class="text-lightOrange mt-2 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="relative group">
        <img
          src="assets/projects/project2.jpg"
          alt="Ocean Museum"
          class="w-full object-cover rounded-lg"/>
        <div class="absolute inset-0 bg-black text-white bg-opacity-50 rounded-lg flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition">
          <h3 class="text-lg font-semibold">Ocean Museum on Italy</h3>
          <a href="#"class="text-lightOrange mt-2 font-medium flex items-center" >
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
      <div class="relative group">
        <img
          src="assets/projects/project3.jpg"
          alt="Milko Co-Working Building"
          class="w-full object-cover rounded-lg"/>
        <div class="absolute inset-0 bg-black text-white bg-opacity-50 rounded-lg flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition">
          <h3 class="text-lg font-semibold">Milko Co-Working Building</h3>
          <a href="#" class="text-lightOrange mt-2 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="relative group">
        <img
          src="assets/projects/project4.jpg"
          alt="Small House Near Wroclaw"
          class="w-full object-cover rounded-lg"/>
        <div class="absolute inset-0 bg-black text-white bg-opacity-50 rounded-lg flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition">
          <h3 class="text-lg font-semibold">Small House Near Wroclaw</h3>
          <a href="#" class="text-lightOrange mt-2 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="clients"class="flex flex-col md:flex-row justify-start p-6 md:p-10 border-t" >
    <!-- Left Content -->
    <div class="flex flex-col gap-3 w-full md:w-1/2 text-center md:text-left">
      <div    class="flex flex-row gap-2 items-center justify-center md:justify-start">
        <div class="w-8 h-0.5 bg-lightOrange"></div>
        <span class="text-lightOrange font-bold uppercase tracking-wide" >Our Client</span>
      </div>
      <h2 class="text-xl md:text-2xl font-bold text-[#1a1a2e]">
        Meet Our Happy Client
      </h2>
      <p class="text-gray-500 text-justify md:text-left pr-0 md:pr-5">
        At <b>Vyomn Projects</b>, we are proud to have worked with a diverse
        range of clients, each with unique needs and visions. Our client-focused
        approach and commitment to delivering exceptional results have helped us
        build long-lasting relationships and a reputation for excellence in the
        industry.
      </p>
    </div>

    <!-- Right Content -->
    <div class="relative w-full md:w-1/2 mt-6 md:mt-0">
      <div class="overflow-hidden h-full">
        <!-- Scrolling container -->
        <div class="flex items-center h-full gap-6 animate-scroll">
          <div class="flex-shrink-0">
            <img
              src="assets/clients/Agarson.jpg"
              alt="Agarson"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/Kezal.jpg"
              alt="Kezal"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/KNoils.jpg"
              alt="KNoils"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/PMark.jpg"
              alt="PMark"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/SaharaIndia.jpg"
              alt="Sahara India"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/SAIB.jpg"
              alt="SAIB"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/Skylark.jpg"
              alt="Skylark"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/Sterimed.jpg"
              alt="Sterimed"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/Today.jpg"
              alt="Today"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <div class="flex-shrink-0">
            <img
              src="assets/clients/VKCGroup.jpg"
              alt="VKCGroup"
              class="h-12 md:h-16 w-auto"
            />
          </div>
          <!-- Add duplicate logos if needed for seamless scrolling -->
        </div>
      </div>
    </div>
  </section>

  <section id="testimonalSection"class="flex flex-col md:flex-row bg-black p-5 relative">
    <div class="absolute inset-0 bg-cover bg-center opacity-20 bg-[url('/assets/testimonalbg.jpg')]"></div>
    <!-- Content Section -->
    <div class="px-6 flex items-center justify-center text-white w-full h-full">
      <div class="text-center max-w-2xl space-y-6">
        <!-- Header -->
        <div class="flex items-center justify-center">
          <div class="w-8 h-0.5 bg-lightOrange mr-2"></div>
          <span class="text-lightOrange font-bold uppercase tracking-wide text-sm">Testimonials</span>
        </div>
        <!-- Title -->
        <h1 class="text-3xl font-bold leading-tight">
          {{ slides[currentSlideIndex].title }}
          <br />
          <span class="text-3xl font-bold leading-tight">{{
            slides[currentSlideIndex].subtitle }}
          </span>
        </h1>

        <!-- Description -->
        <p class="text-gray-500 text-justify pr-0">
          {{ slides[currentSlideIndex].description }}
        </p>
        <i class="fa-solid fa-quote-right text-xl text-white ml-5"></i>
        <!-- User Info -->
        <div>
          <h3 class="font-bold text-lg">
            {{ getNameWithLocation() }}
          </h3>
        </div>
        <!-- Buttons for Small Screens -->
        <div class="flex md:hidden justify-center space-x-4 mt-6">
          <button  (click)="prevSlide(); stopAutoSlide(); startAutoSlide()"class="bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-md">
            <span class="text-[#555555] text-xl"><i class="fa-solid fa-chevron-left"></i></span>
          </button>
          <button (click)="nextSlide(); stopAutoSlide(); startAutoSlide()"class="bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-md">
            <span class="text-[#555555] text-xl"><i class="fa-solid fa-chevron-right"></i></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Buttons for Medium and Larger Screens -->
    <button (click)="prevSlide(); stopAutoSlide(); startAutoSlide()"
    class="hidden md:flex absolute top-1/2 left-5 transform -translate-y-1/2 bg-white   rounded-full w-10 h-10 items-center justify-center shadow-md">
      <span class="text-[#757575] text-xl" ><i class="fa-solid fa-chevron-left"></i></span>
    </button>
    <button (click)="nextSlide(); stopAutoSlide(); startAutoSlide()"
      class="hidden md:flex absolute top-1/2 right-5 transform -translate-y-1/2 bg-white rounded-full w-10 h-10 items-center justify-center shadow-md">
      <span class="text-[#757575] text-xl"><i class="fa-solid fa-chevron-right"></i></span>
    </button>
  </section>

  <section id="statisticsSection"class="flex flex-col md:flex-row p-6 md:p-10 gap-6 bg-white">
    <!-- Text Section -->
    <div class="flex flex-col gap-3 w-full md:w-1/2 text-center md:text-left">
      <div class="flex flex-row gap-2 items-center justify-center md:justify-start">
        <div class="w-8 h-0.5 bg-lightOrange"></div>
        <span class="text-lightOrange font-bold uppercase tracking-wide">Statistics</span>
      </div>
      <h2 class="text-xl md:text-2xl font-bold text-[#1a1a2e]">
        Know More About Our Success
      </h2>
      <p class="text-gray-500  text-justify break-words md:text-left pr-0 md:pr-5">
        Bring to the table win-win survival stratergies to ensure proactive domination.
        At the end of the day,going for ward ,a new normal
       for each project, we establish relationships with partners who we know
        will help us create added value for your project As well as bringing. 
      </p>
    </div>
    <!-- Cards Section -->
    <div class="flex flex-wrap gap-4 md:gap-6 w-full md:w-1/2 justify-center">
      <!-- Card 1 -->
      <div class="w-[45%] sm:w-[40%] lg:w-[35%] h-40 flex items-center justify-center shadow-lg rounded-lg hover:scale-105 hover:shadow-xl border transition-transform">
        <div class="flex gap-2 items-center">
          <img
            src="assets/icons/project.png"
            alt="Projects"
            class="h-14 w-14"/>
          <div class="text-center">
            <h2 class="text-2xl md:text-3xl font-bold">35</h2>
            <p class="text-lg md:text-sm uppercase">Project</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="w-[45%] sm:w-[40%] lg:w-[35%] h-40 flex items-center justify-center shadow-lg rounded-lg hover:scale-105 hover:shadow-xl border transition-transform">
        <div class="flex gap-2 items-center">
          <img src="assets/icons/clients.png" alt="Clients" class="h-14 w-14" />
          <div class="text-center">
            <h2 class="text-2xl md:text-4xl font-bold">38</h2>
            <p class="text-lg md:text-sm uppercase">Client</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
