<section class="w-full h-[150vh] bg-gray-50">
  <div class="flex justify-around">
    <!-- header section -->
    <div class="container">
      <h4 class="text-[#fa881e] uppercase font-bold"> Our Work</h4>
      <div class="w-12 h-1 bg-[#fa881e] mt-2"></div>
      <h2 class="text-4xl font-bold text-[#172b56] mt-1">Explore Recent Project</h2>
      <p class="description mt-5">
        Temp incididunt ut labore et dolore magna aliqua uat enim ad minim veniam quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat. Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Temp incididunt ut labore et dolore magna aliqua uat enim ad minim veniam quis nostrud ullamcoab oris n
      </p>
    </div>
  </div>
  <!-- Projects Grid -->
  <div class="flex flex-wrap  w-[1500px] ml-80 gap-6 mt-10">
    <!-- Project 1 -->
    <div class="relative group w-80">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="Image\Image_4.jpg" alt="Triangle Concrete House" class="w-80  object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Triangle Concrete House</h1>
            <h2>On Lake</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="flip-back">
          <h3 class="text-lg font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're
          </h2>
          <a href="#" class="text-yellow-500 mt-4 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Project 2 -->
    <div class="relative group">
      <div class="flip-inner !w-[570px]">
        <div class="flip-front">
          <img src="Image\6.jpg" alt="Triangle Concrete House" class="w-4/6 h-80 object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Triangle Concrete House</h1>
            <h2>On Lake</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="flip-back">
          <h3 class="text-lg  font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're
            Sometimes you want to go where everybody knows your name. And they're
          </h2>
          <a href="#" class="text-yellow-500 mt-4  font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="relative group ml-64">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="Image\Image_1.jpg" alt="Triangle Concrete House" class="w-80  object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Milko Co-Working</h1>
            <h2>Building</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="flip-back">
          <h3 class="text-lg font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're

          </h2>
          <a href="#" class="text-yellow-500 mt-4 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Project 4 -->
    <div class="relative group">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="Image\Image_1.jpg" alt="Triangle Concrete House" class="w-80  object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Small House Near</h1>
            <h2>Wroclaw</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="flip-back">
          <h3 class="text-lg font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're

          </h2>
          <a href="#" class="text-yellow-500 mt-4 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
    <!--project 5-->
    <div class="relative group">
      <div class="flip-inner">

        <div class="flip-front">
          <img src="Image\Image_2.jpg" alt="Triangle Concrete House" class="w-80  object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Ocean Museum </h1>
            <h2>On Gurugram</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>

        <div class="flip-back">
          <h3 class="text-lg font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're

          </h2>
          <a href="#" class="text-yellow-500 mt-4 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
    <!--Project 6-->
    <div class="relative group">
      <div class="flip-inner !w-[570px]">
        <div class="flip-front">
          <img src="Image\6.jpg" alt="Triangle Concrete House" class="w-4/6 h-80 object-cover">
          <div class="absolute bottom-4 left-4 text-white  px-3 py-1">
            <h1 class="text-lg font-semibold"> Triangle Concrete House</h1>
            <h2>On Lake</h2>
            <a href="#" class="text-yellow-500  font-medium flex items-center">
              See Project <span class="ml-2">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="flip-back">
          <h3 class="text-lg font-semibold">Triangle Concrete House On Lake</h3>
          <h2 class="text-sm">
            Sometimes you want to go where everybody knows your name. And they're
            always glad you came. Straight nin' the curves flatnin' the hills Someday the mountain will.
            Sometimes you want to go where everybody knows your name. And they're

          </h2>
          <a href="#" class="text-yellow-500 mt-4 font-medium flex items-center">
            See Project <span class="ml-2">&rarr;</span>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="flex justify-center items-center mt-10 mr-20">
    <a href="#" class="bg-black text-yellow-500 text-center p-2 w-40 h-10">Read More <span class="ml-2 text-yellow-500">&rarr;</span></a>
  </div>

</section>


<!-- Main Section -->
<div class="flex justify-around items-center bg-gray-800 ">
  <!-- Left Section -->
  <div class="p-8 bg-gray-800 text-white">
    <h2 class="text-2xl font-bold mb-2 text-yellow-400">Need more information?</h2>
    <p class="text-gray-300">Please email us and our support staff will contact you back</p>
  </div>
  <div>
      <!--Diglonal Shape-->
    <div class="bg-gray-700 w-20 h-20 transform rotate-45 hover:rotate-180 transition-transform duration-500 flex items-center justify-center shadow-lg cursor-pointer">
      <!-- Email Icon -->
      <div class="-rotate-45">
        <i class="fa-regular fa-envelope text-white text-3xl"></i>
      </div>
    </div>
  </div>
  <!-- Email Input Section -->
  <div class="flex items-center bg-yellow-400 px-6 py-4">
    <div class="relative">
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-5 h-5 text-gray-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.94 4.62A2 2 0 014 4h12a2 2 0 011.06.38l-7.06 5.12L2.94 4.62zM2 6.74V14a2 2 0 002 2h12a2 2 0 002-2V6.74l-7.06 5.12a1 1 0 01-1.14 0L2 6.74z"></path>
        </svg>
      </span>
      <input type="email" placeholder="Enter your mail"
             class="w-64 pl-10 pr-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-800" />
    </div>
    <button class="ml-4 bg-gray-800 text-white px-6 py-2 rounded hover:bg-gray-700 transition">SUBSCRIBE</button>
  </div>
</div>
