.container {
  max-width: 1200px;
  margin-left: 18%;
  margin-top: 50px;
}


.description {
  color: #666666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.service-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0px;
  transition: transform 0.3s ease;
}
.service-card:hover img {
  transform: scale(1.1);
}

/* Text overlay styling */
.text-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%; 
  background: #ddd;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: top 1s ease;
}

.service-card:hover .text-overlay {
  top: 0; 
}
.image-container img {
  transition: filter 0.3s ease;
  background-color: aquamarine;
}

.image-container:hover img {
  filter: blur(1px);
  background-color:aquamarine;
}




.testimonial_text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 36px;
  display: inline-block;
}

/* Slider Container */
.slider {
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
}


.slide-track {
  display: flex;
  gap: 0; 
  animation: scroll 30s linear infinite;
  width: max-content;
}

.slide {
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  width: 250px; 
  height: 100%; 
  box-sizing: border-box;
  margin-right: 500px; /* Add gap here */
}


.text-slide {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #000; 
  color: transparent;
}

.text-slide:hover {
  color: #fa881e;
  -webkit-text-stroke: 1px #fa881e;
}


.slide-track:hover {
  animation-play-state: paused;
}

/* Scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%); /* Shift full width of track */
  }
}




