<section class="w-full h-[40vh] bg-red-500">
  <div class="relative">
    <!-- Background Image -->
    <img src="Image/Aboutus.jpg"
         alt="Background"
         class="w-full h-[400px] object-cover">
    <!-- Overlay Content -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text- bg-black bg-opacity-50">
      <h1 class="text-5xl font-bold text-white">Services</h1>
      <p class="text-white text-sm mt-2">Home / About Us</p>
    </div>
  </div>
</section>

<section class="w-full h-[120vh]">
  <div class="container">
    <h4 class="text-[#fa881e] uppercase font-bold"> WHAT WE DO </h4>
    <div class="w-12 h-1 bg-[#fa881e] mt-2"></div>
    <h2 class="text-4xl font-bold text-[#172b56] mt-1">Our Services That We Provide</h2>
    <p class="description mt-5">
      Temp incididunt ut labore et dolore magna aliqua uat enim ad minim veniam quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat. Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Temp incididunt ut labore et dolore magna aliqua uat enim ad minim veniam quis nostrud ullamcoab oris n
    </p>
  </div>
  <!--Card 1-->
  <div class="max-w-[1200px]  mx-auto grid lg:grid-col-4 sm:grid-cols-4 gap-6">
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-5xl group-hover:text-white transition duration-300 py-5">  🏗️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Building</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Construction</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5 image-container">
        <!-- Image -->
        <img src="Image\service-1.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--Card 2-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-5xl group-hover:text-white transition duration-300 py-5"> ✏️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">
          Architecture
        </h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Design</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5">
        <!-- Image -->
        <img src="Image\service-2.jpg"
             alt="Construction"
             class="object-cover" />
        <div class="overlay">
          
        </div>
      </div>
    </div>
    <!--Card 3-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-7xl group-hover:text-white transition duration-300 py-5"> 🛠️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Building</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Renovation</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5">
        <!-- Image -->
        <img src="Image\service-3.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--Card 4-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-5xl group-hover:text-white transition duration-300 py-5"> 🏠</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Flooring</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">& Roffing</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5 image-overlay">
        <!-- Image -->
        <img src="Image\service-6.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--Card 5-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-7xl group-hover:text-white transition duration-300 py-5">  🏗️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Interior</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Design</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5 image-overlay">
        <!-- Image -->
        <img src="Image\service-4.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--card 6-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-7xl group-hover:text-white transition duration-300 py-5">  🏗️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Building</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Construction</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5 image-overlay">
        <!-- Image -->
        <img src="Image\service-5.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--card 7-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-7xl group-hover:text-white transition duration-300 py-5">  🏗️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Construction</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Consulting</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
      </div>
      <div class="group p-5 mt-5 image-overlay">
        <!-- Image -->
        <img src="Image\service-8.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
    <!--Card 8-->
    <div class="service-card group">
      <div>
        <h2 class="text-orange-500 text-7xl group-hover:text-white transition duration-300 py-5">🏗️</h2>
      </div>
      <div class="p-2">
        <h5 class="font-semibold text-3xl text-gray-800 group-hover:text-gray-900 transition duration-300">Building</h5>
        <p class="text-gray-500 text-xl group-hover:text-gray-700 transition duration-300">Maintenace</p>
      </div>
      <div class="text-overlay">
        <p>Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua</p>
        <button class="more-text">More</button>
      </div>
      <div class="group p-5 mt-5 image-overlay">
        <!-- Image -->
        <img src="Image\service-7.jpg"
             alt="Construction"
             class="object-cover" />
      </div>
    </div>
  </div>
</section>



<!--Testimonal Section Start -->
<section class="flex flex-col  items-center justify-center h-[70vh] w-full bg-gray-100 border-t">
  <div class="relative w-full max-w-2xl text-center">
    <!-- Profile Image -->
    <div>
      <img class="w-20 h-20 mx-auto rounded-full border-4 border-gray-300"
           [src]="testimonials[currentIndex].image"
           alt="Profile Picture" />
      <!-- Quote Icon -->
      <div class="absolute top-[65px] left-1/2 transform -translate-x-1/2 bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center">
        <i class="fa-solid fa-quote-left"></i>
      </div>
    </div>

    <div class="flex items-center justify-center mt-10 relative">
      <!-- Left Button -->
      <button (click)="prevSlide()"
              class="h-10 w-10 bg-gray-100 hover:bg-gray-200 rounded-full shadow-md text-black absolute left-0 transform -translate-x-[300px] -translate-y-1/2">
        <i class="fa-solid fa-chevron-left text-xl mt-1"></i>
      </button>

      <!-- Quote Text -->
      <div class="text-center">
        <h2 class="text-gray-400 text-2xl ">
          {{ testimonials[currentIndex].quote }}
        </h2>
        <!-- Author Name -->
        <p class=" mt-4 text-lg font-semibold">
          - {{ testimonials[currentIndex].author }}
        </p>
      </div>

      <!-- Right Button -->
      <button (click)="nextSlide()"
              class="h-10 w-10 bg-gray-100 hover:bg-gray-200 rounded-full shadow-md text-black absolute right-0 transform translate-x-[300px] -translate-y-1/2">
        <i class="fa-solid fa-chevron-right text-xl"></i>
      </button>
    </div>
  </div>

  <!-- Slider Section -->
  <div class="slider mt-6 overflow-hidden bg-gray-100">
    <div class="slide-track">
      <!-- Text-based slides -->
      <div class="slide">
        <div class="text-slide">Construction</div>
      </div>
      <div class="slide">
        <div class="text-slide">Engineering</div>
      </div>
      <div class="slide">
        <div class="text-slide">Interior</div>
      </div>
      <div class="slide">
        <div class="text-slide">Design</div>
      </div>
      <div class="slide">
        <div class="text-slide">Architecture</div>
      </div>

      <!-- Duplicate slides for continuous scrolling -->
      <div class="slide">
        <div class="text-slide"> Construction </div>
      </div>
      <div class="slide">
        <div class="text-slide">Architecture</div>
      </div>
      <div class="slide">
        <div class="text-slide">Interior</div>
      </div>
      <div class="slide">
        <div class="text-slide">Design</div>
      </div>
      <div class="slide">
        <div class="text-slide">Engineering</div>
      </div>
    </div>
  </div>
</section>
<!--Testimonal Section End -->
<!--Counter Section -->
<section class="h-[40vh] w-full bg-white border-t">
  <div class="flex justify-around items-center py-20">
    <!-- Left Content -->
    <div class="text-content w-1/4 ml-80">
      <h4 class="text-[#fa881e] uppercase font-bold ml-2"> Statistics</h4>
      <div class="w-12 h-1 bg-[#fa881e] mt-2 ml-2"></div>
      <h2 class="text-3xl font-bold text-[#1a1a2e] mt-2 ml-3">
        Know More About Our<br />Success
      </h2>
      <p class="text-gray-500 mt-4 ml-3">
        For each project, we establish relationships with partners who we know
        will help us create added value for your project. As well as bringing
      </p>
    </div>

    <!-- Card Section -->
    <div class="flex flex-wrap gap-6 w-[50%]">
      <!-- Card 1 -->
      <div class="border border-gray-300 rounded-lg w-[35%] h-24 flex items-center justify-center">
        <div class="flex gap-2 items-center">
          <img src="Image/icon-9.png" alt="Consulting" class="icon h-10 w-10">
          <div class="text-center">
            <h2 class="text-3xl font-bold">305</h2>
            <p class="text-sm uppercase">Project</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="border border-gray-300 rounded-lg w-[35%] h-24 flex items-center justify-center">
        <div class="flex gap-2 items-center">
          <img src="Image/icon-10.png" alt="Consulting" class="icon h-10 w-10">
          <div class="text-center">
            <h2 class="text-3xl font-bold">128</h2>
            <p class="text-sm uppercase">Client</p>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="border border-gray-300 rounded-lg w-[35%] h-24 flex items-center justify-center">
        <div class="flex gap-2 items-center">
          <img src="Image/icon-11.png" alt="Consulting" class="icon h-10 w-10">
          <div class="text-center">
            <h2 class="text-3xl font-bold">114</h2>
            <p class="text-sm uppercase">Success</p>
          </div>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="border border-gray-300 rounded-lg w-[35%] h-24 flex items-center justify-center">
        <div class="flex gap-2 items-center">
          <img src="Image\icon-12.png" alt="Consulting" class="icon h-10 w-10">
          <div class="text-center">
            <h2 class="text-3xl font-bold">109</h2>
            <p class="text-sm uppercase">Awards</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Counter Section End -->
